.footer {
  display: flex;
  flex-flow: column;
  align-items: center;

  background-color: $c-white;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-flow: row;
    justify-content: space-between;
  }
}
