.person__list {
  display: flex;
  flex-flow: column;
  margin-top: 0;
  padding: 0;

  list-style: none;
}

.person__item {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .person__list {
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .person__item {
    margin-bottom: 0;
  }
}
