$tablet-width: 768px;
$desktop-width: 1440px;

$c-white: #ffffff;
$c-black: #000000;
$c-tundora: #444444;

$c-froly: #f97676;
$c-lima: #81e31e;

$c-cello: #1d2e5b;
$c-bigStone: #192144;
$c-portGore: #161c36;
$c-ebony: #121936;
$c-blueZodiac: #101d41;

$c-whisper: #edeff6;
$c-snuff: #e2e5f2;
$c-mystic: #dfe3f0;
$c-periwinkleGray: #d4d9eb;
$c-athensGray: #f3f4f8;

$c-mustard: #ffd74b;
$c-sunglow: #ffbd30;
$c-sunshade: #ffa530;
$c-neonCarrot: #ff8d30;
$c-orange: #ff5c23;

$c-fantasy: #f9eaea;
$c-azalea: #f9d8d8;
